@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

* {
	background: transparent;
	font-family: 'Kite One', cursive;
	color: #ffffff;
	margin: 0;
	padding: 0;
	font-size: 24px;
	transition: 0.5s;
	cursor: default;
	user-select: none;
}

div {
	padding: 20px;
}

i {
	cursor: pointer;
}

h1 {
	font-size: 42px;
}

.banner {
	margin-top: 7.5%;
}

.emp {
	margin-top: 25%;
}

.VibeBerry {
	width: 256px;
	height: 256px;
	margin-bottom: -30px;
}

.bg {
	background: #36393f;
	z-index: -1;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

::-webkit-scrollbar {
	background: #36393f;
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: #36393f;
}

::-webkit-scrollbar-thumb {
	background: #00ebd2;
	background-image: linear-gradient(to bottom, #00ebd2, #00ade9);
	border-radius: 10px;
}

button {
	padding: 10px;
	outline: none;
	border: 5px solid #ffffff;
	border-radius: 10px;
	cursor: pointer;
	width: 54px;
	background: #00ebd2ff;
}

button:hover {
	background: #00ade9ff;
}

p {
	margin-bottom: 20px;
}

.ft center {
	border-radius: 10px;
	font-size: 18px;
	background-image: linear-gradient(to bottom, #00ebd2, #00ade9);
	position: fixed;
	bottom: 10px;
	padding: 10px;
	left: 30%;
	right: 30%;
}

mark {
	border-radius: 10px;
	padding: 5px;
	background-image: linear-gradient(to bottom, #00ebd2, #00ade9);
}

mark2 {
	border-radius: 10px;
	padding: 5px;
	background-image: linear-gradient(to bottom, #00ebd2, #00ade9);
	font-size: 14px;
}

a {
	background: linear-gradient(to bottom, #00ebd2, #00ade9);
	text-decoration: none;
	cursor: pointer;
	font-weight: lighter;
	border-radius: 10px;
	padding: 5px;
	transition: 0s;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a:hover {
	transition: 0s;
	font-weight: bolder;
}

